<html>

	<head>

		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

		<meta name="viewport" content="width=device-width">
		<meta name="viewport" content="user-scalable=no" />

		<link rel="stylesheet" href="assets/css/app.min.css" />
		
		<script src="assets/sounds/total.min.json?v=1337" type="text/javascript"></script>
		<script src="assets/js/app.min.js?v=1337" type="text/javascript"></script>

	</head>
	
	<!-- show-about-menu -->
	<body>
		
		<!-- show-effects-panel - to show effects panel -->
		<div class="wrap">
			{{> _header }}
			{{> _pads }}
			{{> _effects }}
			{{> _footer }}
		</div>

		{{> _menu }}
		{{> _help }}

	</body>
</html>