<?xml version='1.0' encoding='utf-8'?>
<widget id="com.andreykeske.swayer" version="0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Swayer!</name>
    <description>
      Sway mother fucker!
    </description>
    <author email="swayerapp@gmail.com" href="swayerapp@gmail.com">
        Swayer!
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>
</widget>
