<div class="effects-panel">

	<!-- delay -->
	<div class="delay-panel panel">
		<h3>
			{{{delay_title}}}
		</h3>
		<div class="padding-fix col col-50">
			<input type="range" min="0" max="1" value="0.5" step="0.1" class="setDelay" />
			<span class="delayValue">
				val
			</span>
		</div>
		<div class="padding-fix col col-50">
			<input type="range" min="0" max="1" value="0.5" step="0.1" 	class="setDelayFeedback" />
			<span class="feedbackValue">
				val
			</span>
		</div>
		<small>
			{{{delay_howto}}}
		</small>
	</div><!-- delay -->
	
	<!-- repeat -->
	<div class="repeat-panel panel">
		<h3>
			{{{repeat_title}}}
		</h3>
		<p>
			<input type="range" min="10" max="400" value="300" step="10" class="setRepeat" />
			<span class="repeatValue">
				val
			</span>
		</p>
		<small>
			{{{repeat_howto}}}
		</small>
	</div><!-- repeat -->
	
	<!-- volume -->
	<div class="volume-panel panel">
		<h3>
			{{{volume_title}}}
		</h3>
		<p>
			<input type="range" min="0" max="1" value="0.9" step="0.1" class="setVolume" />
			<span class="volumeValue">
				val
			</span>
		</p>
		<small>
			{{{volume_howto}}}
		</small>
	</div><!-- volume -->

</div>