<div class="about-menu">

	<h1>
		{{{skills}}}
	</h1>
	<p>
		{{{about}}}
	</p>

	<h2>
		{{{contacts}}}
	</h2>
	
	<p>
		{{{contact_reason}}}
	</p>

	<p class="social-icons">
		<a href="https://www.facebook.com/SkillsMusicApp" class="fb-button">
			<span class="liga">
				&#228;
			</span>
			Facebook
			<span class="opacity opacity-70">
				{{{about_fb}}}
			</span>
		</a>
		<a href="https://twitter.com/SkillsMusicApp" class="tw-button">
			<span class="liga">
				&#229;
			</span>
			Twitter
			<span class="opacity opacity-70">
				{{{about_tw}}}
			</span>
		</a>
		<a href="mailto:hiphopgodzilla@gmail.com" class="mail-button">
			<span class="liga">
				&#0056;
			</span>
			Mail
			<span class="opacity opacity-70">
				{{{about_mail}}}
			</span>
		</a>
	</p>
	
	<h3>
		{{{checkout}}}
	</h3>
	
	<div class="also-apps">

		<div class="app-icon float">
			<div class="icons">
				<a href="https://itunes.apple.com/us/app/swayer/id896856284?ls=1&mt=8">
					<span class="icon swayer"></span>
					<span class="name">
						{{{swayer}}}
					</span>
				</a>
			</div>	
		</div>

		<div class="app-info float">
			
			{{{swayer_about}}}
			
			<br /><br />

			{{{swayer_contain}}}
			
			<br /><br />

			<strong>
				{{{buy}}}
			</strong>

			<div class="download">
				<a href="https://itunes.apple.com/us/app/swayer/id896856284?ls=1&mt=8">
					{{{open}}}
				</a>
			</div>
		</div>

	</div>
	
	<div class="author">
		<a href="#" onclick="ui.openInSafari('http://andreykeske.com')" class="press-effect-when-active">
			{{{author}}}
		</a>
	</div>

	<div class="made">
		{{{made}}}
	</div>

	<br><br>
</div>