<div class="pads-bg">
	<div class="pads show-after-load row">

		<!-- data-folder - папка с семплами -->
		<div class="pad col col-33" 
			data-folder="all"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="all"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="all"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="all"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="all"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="all"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="kick"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<p>
				{{{kick}}}
			</p>
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="hat"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<p>
				{{{hat}}}
			</p>
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="snare" 
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<p>
				{{{snare}}}
			</p>
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="all"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="all"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>
		<div class="pad col col-33" 
			data-folder="all"
			data-delay="false"
			data-repeat="false"
			data-volume="false">
			<img src="assets/svg/random-one.svg" class="refresh" />
			<div class="effects-block">
				<img src="assets/svg/delay.svg" class="effect delay" />
				<img src="assets/svg/repeat.svg" class="effect repeat" />
				<img src="assets/svg/volume.svg" class="effect volume" />
			</div>
		</div>

	</div>
</div>

<!-- Лочим экран при смене семплов -->
<div class="load-samples-bg"></div>